@charset "UTF-8";

@font-face {
    font-family: 'Rotherdam' ;
    src: url(fontes/Rotherdam\ Signature.ttf);
}

@font-face {
    font-family: 'Playfair';
    src: url(fontes/PlayfairDisplay-Regular.ttf);
}

@font-face {
    font-family: 'Raleway';
    src: url(fontes/Raleway-Regular.ttf);
}

* {
    margin: 0px;
    padding: 0px;
    color: black;
}

:root {
    --cor01: #FAFAFA;
    --cor02: #D4D5CE;
    --cor03: #83837D;
    --cor04: #E7E0DB;
    --cor05: #92634F;

    --fonte-cursiva: 'Rotherdam', cursive;
    --fonte-serifada: 'Playfair', cursive;
    --fonte-reta: 'Raleway', sans-serif;
}

html {
    overflow-x: hidden;
    overflow-y: auto;
    height: 100%;
} 

/*---------MENU----------*/

header {
    display: flex;
    justify-content: flex-end;
    background-color: var(--cor01);
    height: 60px;
}
nav  {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: flex-end;
    width: 390px;  
    margin-right: 60px;   
}
nav > a {
    text-decoration: none;
    padding: 10px;
    font-family: var(--fonte-reta); 
    font-size: 0.9em; 
}

main {
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    background-color: var(--cor01)
    height: 6000px;
    width: 100%;
}

/* section#traco {
    display: flex;  
}
section#traco > div {
    display: flex;
    width: 600px;
    height: 2px;
    background-color: black;
} */

/*----------SOBRE----------*/

section#sobre{
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: 661px;
}
article.sobre {
    display: flex;
    justify-content: flex-start;
    padding-top: 21px;
    width: 420px;
    height: 171px;
    /* background-color: purple; */
} 
article.sobre > h1 {
    font-family: var(--fonte-cursiva);
    font-weight: normal;
    font-size: 11em;
} 
article.portifolio {
    display: flex;
    justify-content: flex-end;
    padding-top: 0px;
    width: 420px;
    /* background-color: orangered; */
}
article.portifolio > h2 {
    font-family: var(--fonte-serifada);
    font-size: 3.2em;
    font-weight: normal;
}
article.livia {
    display: flex;
    justify-content: flex-end;
    padding-top: 5px;
    width: 420px;
    /* background-color: purple; */
}
article.livia > h3 {
    font-family: var(--fonte-reta);
    font-weight: bold;
    font-size: 1em;
}
article.texto {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    padding-top: 60px;
    padding-left: 30px;
    padding-right: 70px;
    width: 493px;
    height: 100px;
    /* background-color: orangered; */
}
article.texto > p {
    font-family: var(--fonte-serifada);
    font-weight: bold;
    font-size: 0.9em;
}
article.contato {
    display: flex;
    justify-content: flex-end;
    align-content: space-around;
    line-height: 35px;
    padding-top: 30px;
    width: 420px;
    height: 150px;
    /* background-color: purple; */
}
article.contato > ul a {
    display: flex;
    flex-direction: column;
    font-family: var(--fonte-serifada);
    text-decoration: none;
    line-height: 24px;
}
article.contato > ul > p {
    font-family: var(--fonte-reta);
    color: var();
}
div.arco01 {
    position: absolute;
    margin-left: -1159px;
    margin-top: 108px;
    z-index: -1; /*só funciona c/ position*/
    border-top-left-radius: 50%;
    border-top-right-radius: 50%;
    width: 728px;
    height: 796px;
    background-color: #f4f3ecc7;
}
div.arco02 {
    position: absolute;
    margin-left: -582px;
    margin-top: 3px;
    z-index: -2; /*só funciona c/ position*/
    border-top-left-radius: 50%;
    border-top-right-radius: 50%;
    width: 558px;
    height: 658px;
    background-color: var(--cor02);
}
div.arco03 {
    position: absolute;
    margin-left: 1329px;
    margin-top: 258px;
    z-index: -2; /*só funciona c/ position*/
    border-top-left-radius: 50%;
    border-top-right-radius: 50%;
    width: 728px;
    height: 703px;
    background-color: #d4d4d069;
}

/*---------FORMAÇÃO----------*/

section#formacao {
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 100%;
    height: 495px;
    background-color: var(--cor05);
}
article.formacao {
    display: inline-block; /*p/ margin e padding funcionar*/
    margin-top: 170px;
    padding-left: 40px;
    background-color: orangered;
}
article.formacao > h1 {
    font-family: var(--fonte-cursiva);
    font-size: 20em;
    font-weight: normal;
}
article.datas {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 28px; 
    background-color: purple;
}
article.datas > p {
    font-family: var(--fonte-reta);
    color: rgb(231, 227, 227);
    line-height: 61px;
    font-size: 0.9em;
    font-weight: normal;
}
article.cursos {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    line-height: 17px;
    padding-left: 10px;
    padding-top: 45px;
    padding-right: 20px;
    background-color: orangered;
}
article.cursos > p {
    font-family: var(--fonte-reta);
    color: rgb(231, 227, 227);
    line-height: 16.5px;
    font-size: 0.8em;
    font-weight: normal;
    padding-top: 5px; 
}


/*--------SKILLS---------*/

section#skills {
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 100%;
    height: 645px;
}
article.skills {
    display: flex;
    justify-content: flex-start;
    margin-top: 263px;
    width: 576px;
    height: 230px;
    background-color: purple;
}
aside.titulo {
    display: flex;
    align-items: flex-start;
    padding: 10px 0px 0px 20px;
}
aside.habilidades {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 20px 0px 0px 30px;
    line-height: 27px;
}
article.experiencia {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    margin-top: 179px;
    width: 272px;
    height: 314px;
    background-color: orangered;
}
aside.titulo_experiencia h1 {
    display: flex;
    justify-content: center;
    padding-top: 10px;
    font-size: var(--fonte-serifada);
    font-weight: normal;
    font-size: 2em;
}
aside.texto_experiencia p {
    display: flex;
    justify-content: center;
    padding: 19px 50px 20px 50px;
    font-size: var(--fonte-serifada);
    font-weight: normal;
    font-size: 1em;
}
div.tracinho {
    display: flex;
    align-items: center;
    width: 59px;
    height: 1.4px;
    margin-left: 40%;
    background-color: black;
}    
div.arco_skill {
    position: absolute;
    margin-left: -645px;
    margin-top: 155px;
    z-index: -1; /*só funciona c/ position*/
    border-top-left-radius: 50%;
    border-top-right-radius: 50%;
    width: 389px;
    height: 405px;
    background-color: var(--cor02);
}
div.arco_experiencia {
    position: absolute;
    /* margin-left: -645px;
    margin-top: 155px; */
    /* z-index: -1; */
    border-top-left-radius: 50%;
    border-top-right-radius: 50%;
    width: 1389px;
    height: 1405px;
    background-color: var(--cor02);
    color: red;
}





@media all and (max-width: 950px) {
    section#formacao {
        display: flex;
        flex-direction: row;
        justify-content: center;
        width: 100%;
        height: 400px;
        background-color: var(--cor05);
    }
    article.formacao > h1 {
        font-family: var(--fonte-cursiva);
        font-size: 13em;
        font-weight: normal;
    }
    article.datas {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        padding-top: 28px; 
        background-color: purple;
    }
    article.datas > p {
        font-family: var(--fonte-reta);
        color: white;
        line-height: 48px;
        font-size: 0.9em;
        font-weight: normal;
    }
    article.cursos {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        line-height: 7px;
        padding-left: 10px;
        padding-top: 25px;
        background-color: orangered;
    }
    article.cursos > p {
        font-family: var(--fonte-reta);
        color: white;
        line-height: 16.5px;
        font-size: 0.8em;
        font-weight: normal;
        padding-top: 5px; 
    }
}

@media all and (max-width: 676px) {
    section#formacao {
        display: flex;
        flex-direction: row;
        justify-content: center;
        width: 100%;
        height: 450px;
        background-color: var(--cor05);
    }
    article.formacao {
        margin-top: 268px;
        padding-left: 40px;
        height: 0px;
        background-color: orangered;
    }
    article.formacao > h1 {
        font-family: var(--fonte-cursiva);
        font-size: 11em;
        font-weight: normal;
        width: 60px;
    }
    article.datas {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        padding-top: 18px; 
        height: 361px;
        background-color: purple;
    }
    article.datas > p {
        font-family: var(--fonte-reta);
        color: white;
        line-height: 47px;
        font-size: 0.8em;
        font-weight: normal;
    }
    article.cursos {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        line-height: 7px;
        padding-left: 10px;
        padding-top: 25px;
        background-color: orangered;
    }
    article.cursos > p {
        font-family: var(--fonte-reta);
        color: white;
        line-height: 15.5px;
        font-size: 0.75em;
        font-weight: normal;
        padding-top: 5px; 
    }
}











/* <img loading="lazy" class="pp-photo-img wp-image-25213 size-full" src="https://www.cursoemvideo.com/wp-content/uploads/2019/08/guana6.png" alt="guana6" itemprop="image" height="664" width="700" srcset="https://www.cursoemvideo.com/wp-content/uploads/2019/08/guana6.png 700w, https://www.cursoemvideo.com/wp-content/uploads/2019/08/guana6-300x285.png 300w, https://www.cursoemvideo.com/wp-content/uploads/2019/08/guana6-316x300.png 316w, https://www.cursoemvideo.com/wp-content/uploads/2019/08/guana6-600x569.png 600w" sizes="(max-width: 700px) 100vw, 700px" title="guana6"> */